<div class="jumbotron text-center">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead"> Запаметете вашите преживявания онлайн.  </p>
	<a href="/stories/add" class="btn btn-dark btn-lg">Нов запис</a>
</div>