<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center">Влезте в профила си</h3>
			<form method= "post" action="/users/login">
				<div class="form-group">
					<label for="email">Имейл</label>
					<input type="email" class="form-control" name="email" required>
				</div>
				<div class="form-group">
					<label for="password">Парола</label>
					<input type="password" class="form-control" name="password" required>
				</div>
				<button type='submit' class="btn btn-dark">Влез</button>
			</form>
		</div>
	</div>
</div>